/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-size: 62.5%;
}
.aboutnav {
  display: flex;
  justify-content: center;
}
.aboutnav .mainnav {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
  width: 75%;
}
.aboutnav .mainnav a {
  font-size: 2.5rem;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .aboutnav .mainnav a {
    font-size: 1.8rem;
  }
}
.kidsfly {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 4% auto 5% auto;
}
.kidsfly .buildweek {
  font-size: 7rem;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .kidsfly .buildweek {
    font-size: 3.5rem;
  }
}
.team {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.team .team1 {
  width: 30%;
  flex-direction: column;
  margin: 0 auto;
}
.team .team1 img {
  width: 100%;
  margin: 10% auto;
}
.team .team1 h2 {
  font-size: 3rem;
  margin: 0 auto;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .team .team1 h2 {
    font-size: 1.3rem;
  }
}
.team .team1 h3 {
  font-size: 2.5rem;
  margin: 2%auto 15% auto;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .team .team1 h3 {
    font-size: 1rem;
  }
}
.codingpic {
  width: 70%;
  margin: 0 auto;
}
.codingpic img {
  width: 90%;
}
.top {
  display: flex;
  justify-content: center;
}
.top .mainnav {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0 5% 0;
  width: 100%;
}
.top .mainnav a {
  font-size: 2.5rem;
  color: #96DB3C;
}
body {
  background: #4A8FAA;
}
.home {
  background-image: url("../images/hanson-lu-qNHbXkO3Xbc-unsplash\ \(1\).jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.home {
  width: 90%;
  display: flex;
  align-content: center;
}
@media (max-width: 500px) {
  .home {
    width: 90%;
  }
}
.home .home1 {
  background: #4FC079;
  width: 25%;
  margin: 5% 5%;
  padding: 0 2%;
  color: #4FC079;
}
@media (max-width: 500px) {
  .home .home1 {
    width: 35%;
    margin: 15% 5%;
  }
}
.home .home1 .worryfree {
  font-size: 4.5rem;
  margin: 15% 0 10% 0;
  color: #4A8FAA;
}
@media (max-width: 500px) {
  .home .home1 .worryfree {
    font-size: 3.5rem;
  }
}
.home .home1 .schedule {
  font-size: 2.7rem;
  margin: 15% 0;
  color: #4A8FAA;
}
@media (max-width: 500px) {
  .home .home1 .schedule {
    font-size: 2rem;
  }
}
.home .home1 button {
  padding: 5% ;
  width: 100%;
  margin: 0 0 2% 0;
  font-size: 2rem;
  background: #4A8FAA;
}
.plane {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2% auto;
}
.plane .homepic {
  width: 100%;
  max-height: 50%;
}
@media (max-width: 500px) {
  .plane .homepic {
    width: 100%;
  }
}
.whyus {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.whyus .family {
  width: 90%;
  width: 100%;
}
@media (max-width: 500px) {
  .whyus .family {
    width: 100%;
  }
}
.whyus .family .playing {
  max-width: 100%;
  width: 96%;
  padding: 0;
}
@media (max-width: 500px) {
  .whyus .family .playing {
    padding: 0;
    width: 95%;
  }
}
.whyus .family h2 {
  font-size: 3rem;
  margin-top: 4%;
  color: #96DB3C;
}
.whyus .family p {
  font-size: 2rem;
  margin: 4% 0;
  width: 95%;
  padding: 2%;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .whyus .family p {
    padding: 0;
    width: 100%;
  }
}
.whyus .luggage {
  width: 90%;
}
@media (max-width: 500px) {
  .whyus .luggage {
    width: 100%;
  }
}
.whyus .luggage .luggage2 {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 500px) {
  .whyus .luggage .luggage2 {
    width: 100%;
  }
}
.whyus .luggage h2 {
  font-size: 3rem;
  margin-top: 4%;
  color: #96DB3C;
}
.whyus .luggage p {
  font-size: 2rem;
  margin: 4% 0;
  width: 95%;
  padding: 2%;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .whyus .luggage p {
    padding: 0;
    width: 100%;
  }
}
.whyus .confirm {
  width: 90%;
}
@media (max-width: 500px) {
  .whyus .confirm {
    width: 100%;
  }
}
.whyus .confirm .cell {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 500px) {
  .whyus .confirm .cell {
    width: 100%;
  }
}
.whyus .confirm h2 {
  font-size: 3rem;
  margin-top: 4%;
  color: #96DB3C;
}
.whyus .confirm p {
  font-size: 2rem;
  margin: 4% 0;
  width: 95%;
  padding: 2%;
  color: #96DB3C;
}
@media (max-width: 500px) {
  .whyus .confirm p {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .whyus .whyus {
    display: flex;
    flex-direction: column;
  }
}
