.home{
    background-image : url("../images/hanson-lu-qNHbXkO3Xbc-unsplash\ \(1\).jpg");

    background-color: #cccccc; 
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0 auto;
}

   
.home{

    width:88%;
    display:flex;
    align-content: center;



.home1{
    background:white;
    width:35%;
    
    margin: 5% 5%;
    padding: 0 2%;
   

    h1{
        font-size: 5rem;
        margin:15% 0 5% 0;
    }
    p{
        font-size: 3rem;
        margin:10% 0;
    }
    button{
        padding:5%;
        width:100%;
        margin:0 0 5% 0;
    }

}
}
.plane{
  display: flex; 
  justify-content: center;
width:90%;
margin: 2% auto;


.homepic{
    width: 98%;
   max-height: 50%;

   
}
}

.whyus{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
   ;

.family{

    width: 90%;
  

    .playing{
        max-width: 100%;
        width:98%;
        padding:0;
        
    }
}
.luggage{
    width:90%;
   

    .luggage2{
        max-width:100%;
        width:98%;
    }
}
.confirm{
    width:90%;
  

    .cell{
        max-width: 100%;
        width:98%;
    }
}
}

    


